/*-----------------Copyright 2017 Tyler Tucker TyDye Design--------------
---------------------------TyDye Design Portfolio-----------------------*/

body {
    font-family:;
    background-color: none;
    font-family: 'Press Start 2P', cursive;
}

main {
    background-color: aliceblue;
    border: solid black;
    border-width: thin;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    border: solid black;
    border-width: thin;
    padding-top: 15px;
}

/*-----------------Navs and lists--------------*/

nav {
    background-color: lightgrey;
    border: solid black;
    border-width: thin;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    display: block;
     width: 10%;
}

/*-----------------Divs, paragraphs--------------*/

div.flexcontent {
    display: flex;
    width: 10%;
    flex-wrap: wrap;
}

.contentdiv {
    border: solid black;
    border-width: thin;
    max-width: 600px;
}

.contentdiv p {
    text-align: center;
}

.sidebar {
    
}

article {
    margin: 1em;
}

aside {
    padding: 1em;
}

/*-----------------Mobile--------------*/

@media {
    @import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
}
