/*-----------------Copyright 2017 Tyler Tucker TyDye Design--------------
---------------------------TyDye Design Portfolio-----------------------*/

/*-----------------body, main, fonts--------------*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #777777;
    color: black;
}

main {
    border: solid black;
    border-width: thin;
    background-color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
}

a { 
    color: black;
    opacity: .8;
    text-decoration: none; 
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease; 
    -o-transition: all 300ms ease; 
    transition: all 300ms ease; 
}

a:hover { 
     color: gray;
}

/*-----------------header, footer, social icons--------------*/

header {
    text-align: center;
    background-color: #F6F6F6;
}

footer {
    text-align: center;
    border: solid black;
    border-width: thin;
    padding-top: 15px;
    background-color: lightgrey;
}

.fbicon:hover {
    background-color: blue;
    border-radius: 50%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease; 
    -o-transition: all 300ms ease; 
    transition: all 300ms ease; 
}

.instaicon:hover {
    background-color: orange;
    border-radius: 50%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease; 
    -o-transition: all 300ms ease; 
    transition: all 300ms ease; 
}

.linkedicon:hover {
    background-color: cornflowerblue;
    border-radius: 50%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease; 
    -o-transition: all 300ms ease; 
    transition: all 300ms ease; 
}

.githubicon:hover {
    background-color: purple;
    border-radius: 50%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease; 
    -o-transition: all 300ms ease; 
    transition: all 300ms ease; 
}

/*-----------------Navs and lists--------------*/

nav {
    background-color: lightgrey;
    border: solid black;
    border-width: thin;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    display: block;
     width: 10%;
}

li a {
    display: block;
}

a:visited {
    background-color: gray;
}

/*-----------------Divs, paragraphs--------------*/

div.flexcontent {
    display: inline-block;
    width: 50%;
    flex-wrap: nowrap;
}

.contentdiv {
    border: solid black;
    border-width: thin;
    max-width: 600px;
    background-color: none;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}

.contentdiv p {
    text-align: center;
}

.sidebar {
    
}

article {
    margin: 1em;
}

aside {
    padding: 1em;
}

.card{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}

div.banner {
    background-color: #F17581;
    padding: 2px;
}

/*-----------------Mobile--------------*/

@media only screen and (max-width: 500px) {
    ul {
        flex-direction: column;
    }
}